<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vindra Arya Yulian</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="../asset/css/content/main.css">

    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <!-- header -->
    <header class="main-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <h4 class="mb-0">Vindra Arya <span class="text-primary">Yulian</span></h4>
                </a>

                <!-- menu -->
                <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse-toggle">
                    <ul class="navbar-nav mx-auto">
                        <li>
                            <a href="#home" class="nav-link">Home</a>
                        </li>
                        <li>
                            <a href="#aboutme" class="nav-link">About Me</a>
                        </li>
                        <li>
                            <a href="#services" class="nav-link">Services</a>
                        </li>
                        <li>
                            <a href="#skill" class="nav-link">Skill</a>
                        </li>
                        <li>
                            <a href="#portofolio" class="nav-link">Portofolio</a>
                        </li>
                    </ul>
                </div>

                <!-- button -->
                <div class="ms-auto d-none d-lg-block">
                    <a class="colored-btn" href="https://wa.me/6283104788904">Contact Now</a>
                </div>
                <!-- mobile menu -->
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>
    </header>

    <!-- main -->
    <main>
        <section id="home" class="home-section bg-gray">
            <div class="container">
                <div class="anim-elements">
                    <div class="anim-element"><i class="bx bxl-html5"></i></div>
                    <div class="anim-element"><i class="bx bxl-css3"></i></div>
                    <div class="anim-element"><i class="bx bxl-react"></i></div>
                </div>
                <div class="row gy-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="home-intro text-center text-lg-start">
                            <h6>Hallo, Saya Vindra Arya Yulian</h6>
                            <h1>Saya Merupakan FrontEnd <span id="type-it"></span></h1>
                            <p>Fresh Graduate</p>
                            <a href="#aboutme" class="colored-btn mt-1">
                                About Me
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <div class="home-image text-center">
                            <img src="../asset/img/content/fotopribadi/vindra.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- about -->
        <section id="aboutme" class="section">
            <div class="container">
                <div class="row gy-5 align-items-center">
                    <div class="col-lg-6 text-center">
                        <img src="../asset/img/content/fotopribadi/vindraaboutremovebg.png" alt="">
                    </div>
                    <div class="col-lg-6 ps-lg-5">
                        <div class="about-text">
                            <h3 class="h1 mb-3-text-dark fw-semibold">
                                Saya Merupakan Lulusan SMK Negeri 1 Purwokerto
                            </h3>
                            <p>Vindra Arya Yulian, lahir di kota Banyumas pada tanggal 25 Juli 2006, saya lulusan SMK Negeri 1 Purwokerto tahun 2024. Dengan ketertarikannya yang mendalam pada dunia teknologi, Saya telah menunjukkan dedikasi yang luar biasa dalam mengembangkan keterampilan pemrograman dan teknologi informasi. Dukungan dari lingkungan belajarnya di SMK Negeri 1 Purwokerto telah memperkaya pengetahuannya dan memperluas wawasan serta kemampuannya dalam menghadapi tantangan di bidang ini.</p>
                            <div class="row pt-2">
                                <div class="col-6 col-md-4">
                                    <a href="#portofolio" class="colored-btn mt-1">
                                        My Project
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a href="../asset/file/CV Vindra Arya Yulian.pdf" class="colored-btn mt-1">
                                        See CV
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- service -->
        <section id="services" class="section bg-gray" style="background-image: url('../asset/img/content/bacground/bg-1.jpg'); background-repeat: no-repeat; background-size: cover;">
            <div class="container">
                <div class="section-heading">
                    <h3>My Service</h3>
                </div>
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="feature-box bg-1">
                            <div class="icon"><i class="bx bx-brush"></i></div>
                            <div class="content">
                                <h5>Web Desain</h5>
                                <p>Desain Web yang Interaktiv dan Responsive yang menyesuaikan dengan para pengguna serta typography yang kreatif</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-box bg-2">
                            <div class="icon"><i class="bx bx-brush"></i></div>
                            <div class="content">
                                <h5>Web Development</h5>
                                <p>Pembuatan Website menggunakan bahasa pemrograman PHP, Java Script, dan menggunakan framework laravel.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- skill -->
        <section id="skill" class="section">
            <div class="container">
                <div class="row gy-5">
                    <div class="">
                        <div class="section-heading text-center">
                            <h3>My Skill</h3>
                        </div>
                        <div class="skill-box">
                            <div class="row g-3">
                                <div class="col-6 col-md-4 col-lg-4">
                                    <div class="feature-box feature-box-small bgs-1">
                                        <div class="icon"><i class="bx bxl-html5"></i></div>
                                        <h6>HTML</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-4">
                                    <div class="feature-box feature-box-small bgs-2">
                                        <div class="icon"><i class='bx bxl-css3'></i></div>
                                        <h6>CSS</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-4">
                                    <div class="feature-box feature-box-small bgs-3">
                                        <div class="icon"><i class='bx bxl-java'></i></div>
                                        <h6>JAVA</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-4">
                                    <div class="feature-box feature-box-small bgs-4">
                                        <div class="icon"><i class='bx bxl-javascript' ></i></div>
                                        <h6>JAVA SCRIPT</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-4">
                                    <div class="feature-box feature-box-small bgs-5">
                                        <div class="icon"><i class='bx bxl-php'></i></div>
                                        <h6>PHP</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-4">
                                    <div class="feature-box feature-box-small bgs-6">
                                        <div class="icon"><i class='bx bxs-data'></i></div>
                                        <h6>MYSQL</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-4">
                                    <div class="feature-box feature-box-small bgs-7">
                                        <div class="icon"><i class='bx bxl-php'></i></div>
                                        <h6>Laravel</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-4">
                                    <div class="feature-box feature-box-small bgs-8">
                                        <div class="icon"><i class='bx bxl-wordpress'></i></div>
                                        <h6>Wordpress</h6>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-4">
                                    <div class="feature-box feature-box-small bgs-9">
                                        <div class="icon"><i class='bx bxl-nodejs'></i></div>
                                        <h6>Node Js</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- project -->
        <section id="portofolio" class="section bg-gray">
            <div class="container">
                <div class="section-heading">
                    <h3>Lates Project</h3>
                </div>
                <div class="portofolio-box">
                    <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3 justify-content-around align-items-center flex-row-reverse">
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-img">
                                <img src="../asset/img/content/project/sid.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-text">
                                <span>Web APP</span>
                                <h4>Website SID Lumbung Data</h4>
                                <p>Website SID Lumbung Data ini di buat dengan sistem yang kompleks.</p>
                                <a href="lumbungdata.id" target="_blank" class="colored-btn mt-1">Lihat Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3 justify-content-around align-items-center">
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-img">
                                <img src="../asset/img/content/project/sistem-donasi.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-text">
                                <span>Web</span>
                                <h4>Website Sistem Donasi Rumah Singgah Amanah</h4>
                                <p>Website Sistem Donasi Rumah Singgah Amanah dibuat menggunakan bahasa php dan javascript dan menggunakan framework laravel.</p>
                                <a href="https://peduli.rumahsinggahamanah.web.id/donasi" target="_blank" class="colored-btn mt-1">Lihat Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3 justify-content-around align-items-center flex-row-reverse">
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-img">
                                <img src="../asset/img/content/project/pendaftaran-RSA.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-text">
                                <span>Web</span>
                                <h4>Website Pendaftaran Pasien Rumah Singgah Amanah</h4>
                                <p>Website Pendaftaran Pasien Rumah Singgah Amanah dibuat menggunakan sistem dengan bahasa php dan javascript dan menggunakan framework laravel.</p>
                                <a href="https://rumahsinggahamanah.web.id/" target="_blank" class="colored-btn mt-1">Lihat Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3 justify-content-around align-items-center">
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-img">
                                <img src="../asset/img/content/project/funrun.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-text">
                                <span>Web</span>
                                <h4>Website Pendaftaran Peserta FunRun Rotary Purwokerto</h4>
                                <p>Website Pendaftaran Peserta FunRun Rotary dibuat menggunakan sistem dengan bahasa php dan javascript dan menggunakan framework laravel.</p>
                                <a href="https://funrun.rotarypurwokerto.id/" target="_blank" class="colored-btn mt-1">Lihat Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3 justify-content-around align-items-center flex-row-reverse">
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-img">
                                <img src="../asset/img/content/project/webperpustakaan.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-text">
                                <span>Web</span>
                                <h4>Website Perpustakaan SMK Negeri 1 Purwokerto</h4>
                                <p>Website Profile Perpustakaan SMK Negeri 1 Purwokerto, Website Perpustakaan dibuat dengan bahasa pemrograman php dan menggunakan framework laravel, menggunakan CSS3 dan menggunakan framework tailwind.</p>
                                <a href="https://perpustakaansmkn1purwokerto.jarijariid.com/" target="_blank" class="colored-btn mt-1">Lihat Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3 justify-content-around align-items-center">
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-img">
                                <img src="../asset/img/content/project/exhibition.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-text">
                                <span>Web</span>
                                <h4>Website RPL Exhibition SMK Negeri 1 Purwokerto</h4>
                                <p>Website ini dibuat sebagai wadah untuk menampilkan karya dari siswa jurusan RPL SMK Negeri 1 Purwokerto, Website ini RPL Exhibition dibuat dengan bahasa pemrograman php dan menggunakan framework laravel, menggunakan CSS3 dan menggunakan framework bootstrap.</p>
                                <a href="https://rplexhibition.smkn1purwokerto.sch.id" target="_blank" class="colored-btn mt-1">Lihat Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3 justify-content-around align-items-center flex-row-reverse">
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-img">
                                <img src="../asset/img/content/project/dinorun.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-text">
                                <span>Game</span>
                                <h4>Game DinoRun</h4>
                                <p>DinoRun adalah game petualangan seru di zaman prasejarah di mana pemain mengendalikan dinosaurus melintasi hutan yang berbahaya. Menghadapi rintangan dan musuh, pemain harus melompat, menghindar, dan mengumpulkan makanan untuk bertahan hidup, Game ini juga ditampilkan untuk pameran game RPL  . Game ini dibuat menggunakan Unity, dengan bahasa pemrograman C#</p>
                                <a href="https://drive.google.com/file/d/1QDzNAtsaN63Ca4_9cYx6HrKj8VmGMf69/view?usp=drive_link" target="_blank" class="colored-btn mt-1">Lihat Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3 justify-content-around align-items-center">
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-img">
                                <img src="../asset/img/content/project/apigateway.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-text">
                                <span>API</span>
                                <h4>API GATEWAY</h4>
                                <p>Configurasi Api gateway dengan service-course, service-user, dengan bahasa pemrograman Java Script menggunakan express js dan dengan bahasa pemrograman PHP menggunakan framework Laravel.</p>
                                <!-- <a href="https://drive.google.com/file/d/1QDzNAtsaN63Ca4_9cYx6HrKj8VmGMf69/view?usp=drive_link" class="colored-btn mt-1">Lihat Project</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3 justify-content-around align-items-center flex-row-reverse">
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-img">
                                <img src="../asset/img/content/project/webaplikasidataproduk.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-text">
                                <span>Web</span>
                                <h4>Website Data Produk Toko</h4>
                                <p>Website ini berguna untuk menambah data barang atau produk pada toko agar data lebih terstruktur. Website ini menggunakan bahasa pemrograman PHP dan framework Laravel serta menggunakan Tamplate adminLte.</p>
                                <!-- <a href="https://rplexhibition.smkn1purwokerto.sch.id" class="colored-btn mt-1">Lihat Project</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3 justify-content-around align-items-center">
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-img">
                                <img src="../asset/img/content/project/webprofileakl.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="portofolio-text">
                                <span>Web</span>
                                <h4>Website Profile Jurusan Akuntansi dan Keuangan lembaga</h4>
                                <p>Website Profile Jurusan Akuntansi dan Keuangan Lembaga menampilkan isi dari jurusan AKL tersebut. Dibuat menggunakan HTML dan CSS</p>
                                <a href="https://vindrayulian.github.io/jurusan_akl/" target="_blank" class="colored-btn mt-1">Lihat Project</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


    <!-- jquery -->
    <script src="../asset/vendor/jquery/jquery-3.7.1.min.js"></script>

    <!-- script --> 
    <Script src="../asset/javascript/content/main.js"></Script>

    <!-- typed js -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>